/*======================================

Table of contents:

A: RESET
B: LAYOUT COMPONENTS
    - Section
C: BUTTONS
D: CUSTOM ICONS

======================================*/

/* >> A: RESET >> */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary-hsl: 0, 0%, 100%;
  --clr-secondary-hsl: 222, 79%, 54%;
  --clr-accent-hsl: 15, 86%, 43%;
  --clr-dark-hsl: 0, 0%, 12%;
  --clr-black-hsl: 0, 0%, 0%;

  --bg-black-hsl: var(--clr-black-hsl);
  --bg-dark-hsl: var(--clr-dark-hsl);
  --bg-dark-blue-hsl: 230, 46%, 16%;
  --bg-blue-hsl: 214, 100%, 31%;
  --bg-gray-hsl: 20, 2%, 74%;

  --fs-xl: 2.5rem;
  --fs-lg: 2.3rem;
  --fs-md: 1.3rem;
  --fs-sm: 1rem;
  --fs-xs: 0.9rem;

  --section-padding-sm: 2rem;
  --section-padding-md: 50px;
  --section-padding-lg: 70px;

  font-family: Arial, Helvetica, sans-serif;
  color: hsl(var(--clr-dark-hsl));
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-a);
}

a:hover,
a:focus {
  color: var(--clr-a);
}

/* >> B: LAYOUT COMPONENTS >> */

/*Section*/

.section {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding-top: var(--section-padding-lg);
  padding-bottom: var(--section-padding-lg);
}

.section--text-center {
  align-items: center;
  text-align: center;
}

.section--hero {
  height: 100%;
  align-items: start;
  justify-content: flex-end;
}

.section--p-md {
  padding-top: var(--section-padding-md);
  padding-bottom: var(--section-padding-md);
}

.section--p-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.section__h1,
.section__h2 {
  font-size: var(--fs-lg);
  margin-bottom: 0;
}

.section__h3 {
  font-size: var(--fs-md);
  margin-bottom: 0;
}

.section__h1 > span {
  font-size: var(--fs-md);
  color: hsl(var(--clr-secondary-hsl));
}

.section__p,
.product-card__p {
  font-size: var(--fs-sm);
  margin-bottom: 0;
}

.section__btn {
  align-self: start;
}

.section--hero__img {
  order: -1;
  max-width: 50%;
}

.nav-item__a {
  line-height: 42px;
}

/* >> C: BUTTONS >> */

.my-btn,
.my-btn:hover {
  --border-radius-btn: 1.5rem;
  line-height: 2.4rem;
  border-radius: var(--border-radius-btn);
  padding: 0 0.9rem;
  color: hsl(var(--btn-clr));
}

.my-btn {
  background: hsl(var(--btn-bg));
  border: 2px solid hsl(var(--btn-border));
  box-shadow: 0 0 0 2px hsl(var(--btn-bg));
}

.my-btn--accent::after,
.my-btn {
  transition: border 0.3s, opacity 0.3s;
}

.my-btn:hover,
.my-btn:focus {
  color: hsl(var(--btn-clr));
  border: 2px solid hsla(var(--btn-hover-border));
}

.my-btn--dark {
  --btn-bg: var(--bg-dark-hsl);
  --btn-clr: var(--clr-primary-hsl);
  --btn-border: var(--btn-bg);
  --btn-hover-border: var(--clr-primary-hsl);
}

.my-btn--primary {
  --btn-bg: var(--clr-primary-hsl);
  --btn-clr: var(--clr-secondary-hsl);
  --btn-border: var(--btn-bg);
  --btn-hover-border: var(--btn-clr);
}

.my-btn--primary.my-text-black {
  --btn-hover-border: var(--clr-black-hsl);
}

.my-btn--secondary {
  --btn-bg: var(--clr-secondary-hsl);
  --btn-clr: var(--clr-primary-hsl);
  --btn-border: var(--btn-bg);
  --btn-hover-border: var(--clr-primary-hsl);
}

.my-btn--accent {
  --btn-bg: var(--clr-accent-hsl);
  --btn-clr: var(--clr-primary-hsl);
  box-shadow: none;
  border: none;
  position: relative;
  margin-left: 4px;
}

.my-btn--accent::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 5px solid hsl(var(--btn-bg));
  border-radius: var(--border-radius-btn);
}

.my-btn--accent:hover::after,
.my-btn--accent:focus::after {
  border: 2px solid hsl(var(--btn-bg));
}

.my-btn--hamburger {
  height: 3rem;
  width: 3.5rem;
  --btn-border: var(--clr-dark-hsl);
  --border-radius-btn: 0.5rem;
  opacity: 1;
}

.my-btn--hamburger:hover {
  --btn-hover-border: var(--clr-black-hsl);
  --border-radius-btn: 0.5rem;
  opacity: 0.3;
}

/* >> D: CUSTOM ICONS >> */

.icon {
  --size-icon: 1.8rem;
  position: relative;
  display: inline-block;
  height: var(--size-icon);
  width: var(--size-icon);
  transition: all 0.3s;
}

.icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: var(--url-icon);
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--ps {
  --url-icon: url("../img/play-menu-ico.png");
  --size-icon: 4rem;
}

.icon--lens {
  --url-icon: url("../img/lens.svg");
  filter: grayscale(1) contrast(15);
}

.icon--lens:hover {
  filter: none;
}

.icon--hamburger {
  --url-icon: url("../img/bars-solid.svg");
  background-size: cover;
  margin-top: 2px;
}

.icon--globe {
  --url-icon: url("../img/language-globe.svg");
  --size-icon: 1.2rem;
}

.icon--chevron-down {
  --url-icon: url("../img/chevron-down-solid.svg");
  --size-icon: 0.7rem;
}

.icon--footer-ps-logo {
  --url-icon: url("../img/ps-footer.svg");
  --size-icon: 5rem;
}
