:root {
  --clr-primary-hsl: 0, 0%, 100%;
  --clr-secondary-hsl: 222, 79%, 54%;
  --clr-accent-hsl: 15, 86%, 43%;
  --clr-dark-hsl: 0, 0%, 12%;
  --clr-black-hsl: 0, 0%, 0%;

  --bg-black-hsl: var(--clr-black-hsl);
  --bg-dark-hsl: var(--clr-dark-hsl);
  --bg-dark-blue-hsl: 230, 46%, 16%;
  --bg-gray-hsl: 20, 2%, 74%;

  --fs-xl: 2.5rem;
  --fs-lg: 2.3rem;
  --fs-md: 1.5rem;
  --fs-sm: 1rem;
  --fs-xs: 0.9rem;

  --section-padding-sm: 2rem;
  --section-padding-md: 50px;
  --section-padding-lg: 70px;

  font-family: Arial, Helvetica, sans-serif;
  color: hsl(var(--clr-dark-hsl));
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-a);
}

a:hover {
  color: var(--clr-a);
}

.section {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding-top: var(--section-padding-lg);
  padding-bottom: var(--section-padding-lg);
}

.section--text-center {
  align-items: center;
  text-align: center;
}

.section--hero {
  height: 100%;
  align-items: start;
  justify-content: end;
}

.section--p-md {
  padding-top: var(--section-padding-md);
  padding-bottom: var(--section-padding-md);
}

.section--p-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.section__h1 {
  font-size: var(--fs-lg);
  margin-bottom: 0;
}

.section__h2 {
  font-size: var(--fs-md);
  margin-bottom: 0;
}

.section__h1 > span {
  font-size: var(--fs-md);
  color: hsl(var(--clr-secondary-hsl));
}

.section__p,
.product-card__p {
  font-size: var(--fs-sm);
  margin-bottom: 0;
}

.section__btn {
  align-self: start;
}

.section--hero__img {
  order: -1;
  max-width: 50%;
}

.nav-item__a {
  line-height: 42px;
}

.icon {
  --size-icon: 1.8rem;
  position: relative;
  display: inline-block;
  height: var(--size-icon);
  width: var(--size-icon);
}

.icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: var(--url-icon);
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--lens {
  --url-icon: url("../img/lens.svg");
}

.icon--lens:hover {
  opacity: 0.5;
}

.icon--hamburger {
  --url-icon: url("../img/bars-solid.svg");
}

.icon--chevron-down {
  --url-icon: url("../img/chevron-down-solid.svg");
  --size-icon: 0.7rem;
}

.list-item:hover .icon--chevron-down {
  --url-icon: url("../img/chevron-down-solid-hover.svg");
}

.my-btn,
.my-btn:hover {
  --btn-border: transparent;
  --border-radius-btn: 1.3rem;
  line-height: 2.6rem;
  border-radius: var(--border-radius-btn);
  padding: 0 0.9rem;
  border: 1px solid hsla(var(--btn-border));
  color: hsl(var(--btn-clr));
}

.my-btn {
  background: hsl(var(--btn-bg));
}

.my-btn:hover {
  background: hsla(var(--btn-bg), 0.8);
}

.my-btn--dark {
  --btn-bg: var(--bg-dark-hsl);
  --btn-clr: var(--clr-primary-hsl);
}

.my-btn--accent {
  --btn-bg: var(--clr-accent-hsl);
  --btn-clr: var(--clr-primary-hsl);
}

.my-btn--accent:hover {
  --btn-clr: var(--clr-primary-hsl);
}

.my-btn--hamburger {
  height: 100%;
  --btn-border: #000000;
  --border-radius-btn: 0.5rem;
  opacity: 0.3;
}

.my-btn--hamburger:hover {
  opacity: 1;
}

.my-btn--primary {
  --btn-bg: var(--clr-primary-hsl);
  --btn-clr: var(--clr-secondary-hsl);
}

.my-btn--secondary {
  --btn-bg: var(--clr-secondary-hsl);
  --btn-clr: var(--clr-primary-hsl);
}
