.banner-top {
  padding: 0.8rem;
  background: #000000;
  text-align: end;
}

.banner-top__sony-logo {
  height: 1rem;
}

.hero--1 {
  height: 589px;
  background-image: url(../img/returnal-cover.jpeg);
  background-size: cover;
  background-position: top;
}

.cards-carousel {
  padding-top: var(--section-padding-sm);
  padding-bottom: var(--section-padding-sm);
}

.cards-carousel--new-release {
  column-gap: 1rem;
}

.game-card {
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.game-card__img,
.playstation-showcase__img,
.store-showcase__img,
.product-card__img,
.new-release-card__img {
  max-width: 100%;
}

.game-card.active {
  outline: 1px solid hsl(var(--clr-secondary-hsl));
  outline-offset: 4px;
}

.product-card__p {
  flex: 1 0 3rem;
  text-align: center;
}

.product-card__p,
.new-release-card__p {
  margin: 0.8rem 0;
}

.product-card.active {
  border-bottom: 4px solid hsla(var(--clr-secondary-hsl), 0.7);
}

.hero--2 {
  height: 620px;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: top;
}

.new-releases {
  background: hsl(var(--bg-dark-hsl));
  padding-top: var(--section-padding-sm);
  padding-bottom: var(--section-padding-sm);
}

.new-releases__section {
  gap: 1rem;
}

.playstation-showcase--4 > .container > .section > .section__p {
  padding-bottom: var(--section-padding-sm);
}

.hero--3 {
  height: 400px;
  background-color: hsl(var(--bg-gray-hsl));
}

.hero--4 {
  height: 285px;
  background-color: hsl(var(--bg-dark-blue-hsl));
}

.hero--3__img,
.hero--4__img {
  max-height: 100%;
}

.store-showcase__img:hover {
  opacity: 0.8;
}

.footer {
  background-color: hsl(var(--bg-blue-hsl));
  padding: var(--section-padding-lg) 0;
  font-size: var(--fs-xs);
}

.footer__logo {
  height: 3.5rem;
  padding-bottom: 1rem;
}

.footer__country {
  padding: 2rem 0;
}

.footer__country > * {
  vertical-align: middle;
}

.footer-nav__link {
  padding: 0.3rem 0;
}

@media only screen and (min-width: 768px) {
  .product-card__img {
    flex: 0 1 200px;
    align-self: center;
    min-height: 100px;
    max-height: 200px;
  }

  .product-card {
    display: flex;
    flex-direction: column;
    height: 200px;
  }
}
