.a--text-black {
  --clr-a: #000000;
}

.a--text-black:hover {
  --clr-a: hsl(var(--clr-secondary-hsl)); /* #0d6efd; */
}

.a--link-underline {
  text-decoration: underline;
}

.text-clr-primary {
  color: hsl(var(--clr-primary-hsl));
}

.text-clr-primary {
  color: hsl(var(--clr-primary-hsl));
}

.my-text-black,
.my-text-black:hover {
  color: hsl(var(--clr-black-hsl));
}
